# Flutter/Dart
.dart_tool/
.packages
.pub/
.flutter-plugins
.flutter-plugins-dependencies
build/
coverage/

# Android and IDE
android/.gradle/
android/local.properties
*.iml
.idea/
.vscode/

# Secrets
.env
*.jks
key.properties
